@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root {
  --bg: #f9f2ea;
  --text: #111111;
  --muted: #555555;
  --accent: #ffb703;
  --border: #e5e5e5;
  --danger: #e63946;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
}

.font-anton {
  font-family: var(--font-anton);
}

p {
  line-height: 1.7;
}

/* Selection */
::selection {
  background-color: var(--accent);
  color: #111;
}
