@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */
:root {
  --bg: #f9f2ea;
  --text: #111111;
  --muted: #555555;
  --accent: #ffb703;
  --border: #e5e5e5;
  --danger: #e63946;
  --black-text: #111111;

  --scroll-track: #f9f2ea;
  --scroll-thumb: #111111;
  --scroll-thumb-hover: #0ea5e9;
}

.dark {
  --bg: #0f0f0f;
  --text: #f5f5f5;
  --muted: #aaaaaa;
  --border: #2a2a2a;

  --scroll-track: #121212;
  --scroll-thumb: #f5f5f5;
  --scroll-thumb-hover: #38bdf8;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
}

.font-anton {
  font-family: var(--font-anton);
}

p {
  line-height: 1.7;
}

/* Selection */
::selection {
  background-color: var(--accent);
  color: #111;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}
